# Module 1 - Python Basics

Python has becomes one of the top languages for analysing big data.

Here we shall discuss basics of this language, and familiarize ourselves with types of data usable in python.

The most basic way to get acquainted with python, is to write the simplest form of a stetment or expression. As of tradition, most python course start like this:

In [1]:
print("Hello!")

Hello!

In [8]:
#add a break inside your statement
print("Hello \nWorld!")

Hello
World!

To add comments or descriptions of the code written, it is usual to made use of `#` as exemplified.

Note: to actually add a `\` you will need to use `\\`, or `print(r"Hello \World")`.

In [48]:
#Add a tab between your words
print("Hello \tWorld!")

Hello 	World!

## Types of data

Data in python can come in different formats:
- integers (abbreviated int) -> refer to whole numbers, either positive or negative, eg. 11 and -11
- floats (no abbreviation) -> refer to real numbers but including decimals, also can be positive or negative, eg. 11.25 and -11.25
- strings (abbreviated str) -> refer to words and are found between quotation marks, eg. `"hello"`
- boolean (abbreviated bool) -> refer to data such as 'True' or 'False'

Data types can be transformed into another type of data.
- Integer into float:

In [4]:
float(2)

2.0

- Float into integer:

In [5]:
int(1.1)

1

Note: when floats are transformed into integer, some of the information of that float number is lost, like that 0.1.

- Floats into strings:

In [6]:
str(4.5)

'4.5'

- Integers into strings:

In [7]:
str(1)

'1'

- Integer into boolean:

In [9]:
bool(1)

True

In [10]:
bool(0)

False

- Boolean into integer:

In [11]:
int(True)

1

Remember, capital letters are of importance in python. True is different from true, which is different from TRUE.

In [15]:
int(False)

0

You can check which type of data you have with the command `type()`

In [17]:
type(True)

bool

In [18]:
type(2.5)

float

In [19]:
type("4.5")

str

You can also transform data types multiple types, in one compact sentence. Eg. transforming a string into an integer and then into a boolean:

In [20]:
bool(int("1"))

True

## Mathematical expressions

These involve operands (numbers) and operators (mathematical signs). Some of the operators used in python can be seen below:
- substraction: -
- addition: +
- multiplication: *
- division: /
- integer division: //

Usually python follows a default order with the orepators, with the `*` and `/` and `//` having preference compared to `-` and `+`.

## Variables

Variables can be created and assigned different types of data. To assign a variable there are two methods:

In [24]:
my_first_variable=1
my_second_variable:2

In [25]:
my_first_variable

1

In [26]:
my_second_variable

2

## Indexing

Imagine a street with houses, each house has a number, and each house has a different number of residents.
- First house has 2 residents
- Second house has 4 residents
- Third house 3 has 1 resident
- Fourth house 4 has 3 residents
- Fifth house 5 has 5 residents
If we make a list of the number of residents on this street, we will end up with something like this:

In [27]:
Residents=[2,4,1,3,5]

To refer to the different house numbers, python uses indexing, and always starts counting at 0.
So to find out how many people live in the first house, we must access index 0:

In [28]:
Residents[0]

2

Similar can be done in inverse, if we know how many residents are in a house, but want to find out which house is this, then we can search for the index using the value of the element:

In [92]:
Residents.index(1)

2

If we want to find out how many people live in the last house, we can use *negative indexing*:

In [29]:
Residents[-1]

5

If we want to find out how many people live in the last two houses:

In [32]:
Residents[3:5]

[3, 5]

Remember that the indexing starts at 0, so the fourth house will be index 3. By the same reasoning, the fifth house should be index 4. However, python has a rule that when checking for an index range, the last value in the range should be the index number plus 1.

This method of inquiring about a number of different houses on the street (i.e. a number of different values of a list) is known as *slicing*.


**Slicing**

Can be done with lists but also with strings.

In [36]:
Name="Jackson"

In [37]:
Name[0:4]

'Jack'

And this can be done also another way:

In [41]:
Name[:4]

'Jack'

You can use *slicing* to select values at strict intervals:

In [38]:
Name[::2]

'Jcsn'

Skipping on letter at a time.

In [39]:
Name[::3]

'Jkn'

Or skipping two letters at a time.

Or even selecting values at strict intervals but only from a certain region that you will specify:

In [40]:
Name[0:5:2]

'Jcs'

## Strings

*Slicing* is only one of the things you can do with a string. Some others are:
- Multiply strings:

In [42]:
Name*3

'JacksonJacksonJackson'

In [43]:
Surname="Smith"

In [44]:
Full_Name=Name+Surname

In [45]:
Full_Name

'JacksonSmith'

Note: Adding strings does not add spaces.

- Transform string into uppercase:

In [49]:
Name.upper()

'JACKSON'

- Replace part of your string:

In [55]:
Name.replace("Jack","Harri")

'Harrison'

- Find where a specific section is in your string. This will give you the first index of the section you are looking for:

In [56]:
Name.find("Jack")

0

In [57]:
Name.find("son")

4

## Compound data types

### Tuples

Are ordered lists represented by round rackets.
It can contain the following data types:
- strings
- integers
- floats
- tuples

In [59]:
#example of tuple
tuple1=("disco",10,1,2)

Tuples are immutable, therefore cannot add tuples, multiply them or append them.

Some actions we can do with tuples:
- Indexing
- Negative indexing
- Slicing
- Measuring length with `len()` :

In [62]:
len(tuple1)

4

- Sorting elements (only when the tuple does not mix integers or floats with strings):

In [65]:
tuple2=(2.5,1,50.70,5)
sorted(tuple2)

[1, 2.5, 5, 50.7]

- Nesting, allows us to access very specific parts of a tuple. Eg. a character of a string of a typle:

In [66]:
tuple1

('disco', 10, 1, 2)

In [68]:
tuple1[0][3]

'c'

In [70]:
tuple3=("home",60,3.1,("country","state","city"))
tuple3[3][1][4]

'e'

### Lists

Are ordered lists represented by square brackets. It can contain the following data types:
- strings
- integers
- floats
- tuples

Some actions that can be done with lists:
- Indexing
- Negative indexing
- Slicing
- Measuring length with `len()` 
- Sorting elements

Unlike tuples, lists are mutable, here are some of the actions that can be done to mutate lists:
- Adding new elements (added to the end of the original list):

In [74]:
list1=["rock","classic","101",96.5]

In [75]:
list1.extend(["pop",10])
list1

['rock', 'classic', '101', 96.5, 'pop', 10]

- Adding new values to the list but in the format of one element only:

In [78]:
list2=["R&B",88.6]
list1.append(list2)
list1

['rock', 'classic', '101', 96.5, 'pop', 10, ['R&B', 88.6]]

- Changing list elements:

In [79]:
list1[0]="jazz"
list1

['jazz', 'classic', '101', 96.5, 'pop', 10, ['R&B', 88.6]]

- Deleting list elements:

In [80]:
del(list1[2])
list1

['jazz', 'classic', 96.5, 'pop', 10, ['R&B', 88.6]]

Strings can also be converted into lists, for example strings with multiple items:

In [82]:
"hard rock".split()

['hard', 'rock']

In [83]:
"10 9 8 7 6".split()

['10', '9', '8', '7', '6']

Note: in this case the space is used as the separating element, however, you can define what you want to be your separating element, eg. `,`.

In [85]:
type("cats,dogs,birds,hamsters")

str

In [89]:
a="cats,dogs,birds,hamsters".split(",")

In [90]:
type(a)

list

### Aliasing

This is when multiple names refer to the same object. If we make one list B equal a list A, the moment that we change A, the list b will also change.

In [95]:
A=["blue","green","yellow","red"]
A

['blue', 'green', 'yellow', 'red']

In [99]:
B=A
B

['blue', 'green', 'yellow', 'red']

In [100]:
A.extend(["purple"])
A

['blue', 'green', 'yellow', 'red', 'purple']

In [101]:
B

['blue', 'green', 'yellow', 'red', 'purple']

To avoid this from happening, instead of assigning a new variable to a previously assigned variable, we can clone the original. If we clone list A and call the clone C, this clone will be independent of A and I can do any changes to A without affecting C. For example:

In [102]:
C=A[:]
C

['blue', 'green', 'yellow', 'red', 'purple']

In [103]:
A.extend("black")
A

['blue', 'green', 'yellow', 'red', 'purple', 'b', 'l', 'a', 'c', 'k']

Remember: if you are extending a list, you need to put your new addition to the list in square brackets, otherwise you string will be split when incorporated into the list.

In [107]:
C

['blue', 'green', 'yellow', 'red', 'purple']

Since C was a clone of A, once A changed, C remained the same.

## Sets

Are unordered lists represented by curly brackets. By unordered, it is implied that elements stored in sets do not have their positions recorded, and cannot be repeated. For example, we can transform a list into a set, however while doing so any repeated elements will be removed. Still, elements inside sets are shown in alphabetical order.

In [109]:
#transforming a previous list C into a set
set(C)

{'blue', 'green', 'purple', 'red', 'yellow'}

Some of the actions that can be done with set are:
- Adding new elements:

In [111]:
fruits={"apples","pears","bananas","oranges"}
fruits

{'apples', 'bananas', 'oranges', 'pears'}

In [112]:
fruits.add("grapes")
fruits

{'apples', 'bananas', 'grapes', 'oranges', 'pears'}

- Removing elements:

In [113]:
fruits.remove("bananas")
fruits

{'apples', 'grapes', 'oranges', 'pears'}

- Confirm presence of element in set:

In [114]:
"apples" in fruits

True

#### Comparing sets

- Find intersection between 2 sets:

In [115]:
pencil_case1={"pen","pencil","eraser"}
pencil_case2={"pen","scissors","glue","pencil"}
pencil_case1.intersection(pencil_case2)

{'pen', 'pencil'}

This intersection can also be found in another way:

In [116]:
pencil_case3=pencil_case1&pencil_case2
pencil_case3

{'pen', 'pencil'}

- Unite 2 different sets:

In [117]:
pencil_case1.union(pencil_case2)

{'eraser', 'glue', 'pen', 'pencil', 'scissors'}

Note: no repetition of elements can be found in the united sets.

- Check if one set is a subset or superset of the other:

In [118]:
pencil_case1.issubset(pencil_case2)

False

In [119]:
#making new variable that is a subset
pencil_case4={"pen","pencil"}
pencil_case4.issubset(pencil_case1)

True

In [120]:
#if we invert the other of the subset question, we should be able to find a True superset
pencil_case1.issuperset(pencil_case4)

True

Subsets can also be investigated as follows:

In [123]:
set({"pen","pencil"}).issubset(pencil_case1)

True

- Find differences between 2 sets:

In [121]:
pencil_case1.difference(pencil_case2)

{'eraser'}

### Dictionaries

Are organised in keys (similar to indexes in lists) and values (similar to elements in lists), which are separated by a colon. Each has their own set of rules:
- Keys: immutable and unique (no repetitions)
- Values: immutable or mutable, and can be found in replicates

Moreover, multiple keys can hold the same value.

In [124]:
Dict={"key1":1,"key2":"2","key3":[3,3,3],"key4":(4,4,4,4),"key5":5,(0,1):6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4, 4),
 'key5': 5,
 (0, 1): 6}

Note: Both keys and values can be of different types.

*Keys* can be: strings, numbers or tuples.

*Values* can be any data type.

Some actions that can e dne with dictionaries are:
- Indexing:

In [126]:
Dict["key3"]

[3, 3, 3]

- Searching for presence of a key:

In [129]:
"key3" in Dict

True

- Adding new entry to the end of the original dictionary:

In [127]:
Dict["key6"]=(6,6,6,6,6,6)
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4, 4),
 'key5': 5,
 (0, 1): 6,
 'key6': (6, 6, 6, 6, 6, 6)}

- Deleting entry:

In [128]:
del(Dict["key4"])
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key5': 5,
 (0, 1): 6,
 'key6': (6, 6, 6, 6, 6, 6)}

- Finding all keys of a dictionary:

In [132]:
Dict.keys()

dict_keys(['key1', 'key2', 'key3', 'key5', (0, 1), 'key6'])

- Finding all values of a dictionary:

In [133]:
Dict.values()

dict_values([1, '2', [3, 3, 3], 5, 6, (6, 6, 6, 6, 6, 6)])